html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
#restartButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  background: #a0e7e5;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  color: #444;
  cursor: pointer;
  box-shadow: 0 4px 0 #72ccc9;
  display: none;
  z-index: 10;
}
